%h1 Home page

- if current_user
  %h4 You are signed in.
  - if seller?
    = link_to "Storefront", storefront_path(current_user.username)
  - elsif buyer?
    = link_to "My Collection", collection_path(current_user.username)
  - elsif admin?
    = link_to "Admin Dashboard", admin_dashboard_path

  = link_to "Sign out", destroy_user_session_path
- else
  %h4 You are NOT signed in.
  = link_to "Create an account", new_user_registration_path
  = link_to "Sign in", new_user_session_path
  